.card-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container */
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    
  }
  
  .card {
    
    width: calc(25% - 20px); /* 25% width with margin */
    height: 50px;
    margin: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
  }
  .card:hover {
    background-color: #e0e0e0; /* Change background color on hover */
    transform: scale(1.05); /* Scale the card slightly on hover */
  }
  
  .card h2 {
    margin-top: 0;
  }
  
  .card p {
    margin-bottom: 0;
  }
  